@import "tailwindcss";

@theme {
  --color-Blue-950: hsl(213, 96%, 18%);
  --color-Purple-600: hsl(243, 100%, 62%);
  --color-Blue-300: hsl(228, 100%, 84%);
  --color-Blue-200: hsl(206, 94%, 87%);
  --color-Red-500: hsl(354, 84%, 57%);

  /* ### Neutral */

  --color-Grey-500: hsl(231, 11%, 63%);
  --color-Purple-200: hsl(229, 24%, 87%);
  --color-Blue--100: hsl(218, 100%, 97%);
  --color-Blue-50: hsl(231, 100%, 99%);
  --color-White: hsl(0, 100%, 100%);

  /* Fonts */
  --font-U-Bold: "Ubuntu-Bold", "serif";
  --font-U-Med: "Ubuntu-Medium", "serif";
  --font-U-Reg: "Ubuntu-Regular", "serif";
}

@font-face {
  font-family: Ubuntu-Bold;
  src: url(/assets/fonts/Ubuntu-Bold.ttf);
}

@font-face {
  font-family: Ubuntu-Medium;
  src: url(/assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: Ubuntu-Regular;
  src: url(/assets/fonts/Ubuntu-Regular.ttf);
}

:root {
  /* ## Colors */

  /* ### Primary */

  --color-Blue-950: hsl(213, 96%, 18%);
  --color-Purple-600: hsl(243, 100%, 62%);
  --color-Blue-300: hsl(228, 100%, 84%);
  --color-Blue-200: hsl(206, 94%, 87%);
  --color-Red-500: hsl(354, 84%, 57%);

  /* ### Neutral */

  --color-Grey-500: hsl(231, 11%, 63%);
  --color-Purple-200: hsl(229, 24%, 87%);
  --color-Blue--100: hsl(218, 100%, 97%);
  --color-Blue-50: hsl(231, 100%, 99%);
  --color-White: hsl(0, 100%, 100%);
}


.bgImage{
background-image: url(/assets/images/bg-sidebar-desktop.svg);
width: 280px;
padding-left: 20px;
padding-top: 30px;
height: 590px;
background-repeat: no-repeat;
}